body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    user-select: none;
    
    h1 {
        font-weight: 500;
    }
    
    h3 {
        color: #37a0fe;
        font-weight: 300;
    }
}


.row {
    &:before,
    &:after {
        content: '';
        display: table;
    }
        
    &:after {
        clear: both;
    }

    .col {
        float: left;
    
        &--span-1-of-7 {
                width: 14.28%;
        }
    }
}

@media only screen and (max-width: 640px) {
    .row {
        .col {
            &--span-1-of-7 {
                width: 100%;
            }
        }
    }
}


.time {
    position: relative;;

    &__unit {
        display: inline-block;
        font-size: 2rem;
    }
    
    &--hour {
        font-weight: 500;
    }

    &:hover .minus {
        opacity: 1;
    }
}


.arrow {
    cursor: pointer;
    height: 14px;
    padding: 8px;
    width: 7px;

    &--up {
        transform: rotate(-90deg);
    }

    &--down {
        transform: rotate(90deg);
    }
}


.plus {
    cursor: pointer;
    height: 20px;
    margin: 40px 0;
    width: 20px;
}

.minus {
    cursor: pointer;
    height: 20px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 20px;
}